@font-face {
  font-family: 'Roboto Light';
  src: url('./font/Roboto-Light.ttf');
}


a {
  color: #008ac1;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  line-height: 150%;
  font-family: 'Roboto Light';
  font-size: 14px
}

dd {
  margin: 5px 20px;
}

heading {
  font-family: 'Roboto Light';
  font-size: 22px;
}

papertitle {
  font-family: 'Roboto Light';
  font-size: 18px;
}

name {
  font-family: 'Roboto Light';
  font-size: 25px;
}

.one {
  width: 200px;
  height: 200px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}